<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="felixsam.github.com.foodordering">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foodman"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foodman_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar">
        <activity android:name=".activities.Login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity"
            android:parentActivityName=".activities.Login_Activity">
        </activity>
        <activity android:name=".activities.Drink_Menu_Activity"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity android:name=".activities.Cocktail_Menu_Activity"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity android:name=".activities.Cake_Menu_Activity"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity android:name=".activities.List_Orders_By_ID"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity android:name=".activities.CheckoutActivity"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity android:name=".activities.Add_Customer"
            android:parentActivityName=".activities.Login_Activity">
        </activity>
        <activity android:name=".activities.List_Added_Drinks"
            android:parentActivityName=".activities.Drink_Menu_Activity">
        </activity>
        <activity android:name=".activities.List_Added_Cakes"
            android:parentActivityName=".activities.Cake_Menu_Activity">
        </activity>
        <activity android:name=".activities.List_Customers"
            android:parentActivityName=".activities.Add_Customer">
        </activity>
        <activity android:name=".activities.Edit_Customer_Activity"
            android:parentActivityName=".activities.List_Customers">
        </activity>
        <activity android:name=".activities.List_Orders_Activity"
            android:parentActivityName=".activities.List_Orders_By_ID">
        </activity>
        <activity android:name=".activities.MapActivity"
            android:parentActivityName=".activities.MainActivity">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key"/>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


</manifest>